
<div  align-title="left" class="bar bar-header bar-light">
 <a href="#/pecboard" class="button button-clear"><i class="ion-calendar"></i></a>
</div >
<ion-content class="main-container" >
<div class="content has-header padding">
  <h3 class="header-title">
    Select Your Criteria
  </h3>

<div class="grouping">
  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Seek a food Characteristic
      </div>
      <select ng-model="$parent.characteristic.term[0]" ng-change="updateSpecification(0)">
        <option value="Texture">Texture</option>
        <option value="Taste">Taste</option>
        <option value="Color">Color</option>
      </select>
    </label>
  </div>


  <div class="list" ng-show="specifications[0].length > 0">
    <label class="item item-input item-select">
      <div class="input-label">
       Seek a Type of {{$parent.characteristic.term[0]}}
      </div>
      <select ng-model="$parent.specifically[0]">
         <option ng-repeat="specfic in specifications[0]"  value="{{specfic.id}}"> {{specfic.value}}</option>
      </select>
    </label>
  </div>
  </div>

 <button class="button button-block button-clear" ng-show="!showSecond" style="color:black" ng-click="showSecond = true">
    Seek Another Characteristic
  </button>
<div ng-show="showSecond" class="grouping">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Seek another characteristic
        </div>
        <select ng-model="$parent.characteristic.term[1]" ng-change="updateSpecification(1)">
          <option value="Texture">Texture</option>
          <option value="Taste">Taste</option>
          <option value="Color">Color</option>
        </select>
      </label>
    </div>
    <div class="list" ng-show="specifications[1].length > 0">
      <label class="item item-input item-select">
        <div class="input-label">
           Seek a Type of {{$parent.characteristic.term[1]}}
        </div>
        <select ng-model="$parent.specifically[1]">
          <option ng-repeat="specfic in specifications[1]"  value="{{specfic.id}}"> {{specfic.value}}</option>
        </select>
      </label>
    </div>
</div>

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
       Meal
      </div>
      <select ng-model="$parent.meal">
        <option></option>
        <option value="2">Fruits</option>
        <option value="3">Vegetables</option>
        <option value="4">Grains</option>
        <option value="5">Poultry</option>
        <option value="6">Fats/Oils/Sweets</option>
        <option value="7">Dairy</option>
      </select>
    </label>
  </div>

  <button class="button button-block button-positive" ng-click="submit()">
    Find your food!
  </button>
</div>
</ion-content>